<div>
    <h1>My Account</h1>
    <div ng-if="!loggedIn">
        <br/>
        <p>
            You are currently not logged in.
        </p>
    </div>
    <div ng-if="loggedIn">

        Welcome to your account page!<br/>
        <br/>
        You are currently logged in.<br/>
        <br/>
        <form class="form-horizontal">


            <div class="form-group">
                <label for="inputFirstName" class="col-sm-2 control-label">First Name</label>
                <div class="col-sm-3">
                    <input type="usr"
                           class="form-control"
                           id="inputFirstName"
                           ng-model="update.firstName"
                           placeholder={{user.firstName}}>
                </div>
            </div>

            <div class="form-group">
                <label for="inputLastName" class="col-sm-2 control-label">Last Name</label>
                <div class="col-sm-3">
                    <input type="usr"
                           class="form-control"
                           id="inputLastName"
                           ng-model="update.lastName"
                           placeholder={{user.lastName}}>
                </div>
            </div>

            <div class="form-group">
                <label for="inputEmail" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-3">
                    <input type="email"
                           class="form-control"
                           id="inputEmail"
                           ng-model="update.email"
                           placeholder={{user.email}}>
                </div>
            </div>

            <div class="form-group">
                <label for="inputPassword" class="col-sm-2 control-label">New Password</label>
                <div class="col-sm-3">
                    <input type="password"
                           class="form-control"
                           id="inputPassword"
                           ng-model="update.password1"
                           placeholder="New Password">
                </div>
                <div class="col-sm-3">
                    <input type="password"
                           class="form-control"
                           id="inputPasswordRep"
                           ng-model="update.password2"
                           placeholder="Repeat Password"
                           compare-to = "update.password1">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-1" >
                    <br>
                    </div>
            </div>


            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-2" >
                    <button type="submit"
                            id="savebutton"
                            ng-click="toggle()"
                            class="btn btn-default btn-block">Save Update</button>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-1" >
                    <br>
                </div>
            </div>

            <div class="form-group">
                <label for="inputPassword" class="col-sm-2 control-label">Password</label>
                <div class="col-sm-3">
                    <input type="password"
                           class="form-control"
                           id="inputPasswordOld"
                           ng-model="update.passwordOld"
                           placeholder="Enter password to delete user">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-2" >
                    <button type="ng-submit"
                            id="deletebutton"
                            ng-click="delete()"
                            class="btn btn-default btn-block">Delete User </button>
                </div>
            </div>
        </form>
    </div>

</div>