<div>

    <div class="row">
        <div class="col-md-4">
            <h1>Search Recipes <span class="glyphicon glyphicon-search" aria-hidden="true"></span></h1>
            Enter some keywords above that describe your recipe.
        </div>
        <div class="col-md-4">
            <span class="glyphicon glyphicon-arrow-up glysize" aria-hidden="true">
            </span>
            <p class="txtpointer">Type here</p>
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>