$color-primary: #60b99a;
$color-secondary: #554236;
$color-tertiary: #f77825;

$color-text-default: black;
$color-text-inverted: white;
$color-text-highlight: $color-primary;

$color-tertiary-light: rgba(252, 125, 42, 0.29);