
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->


<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="movie-header mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <breadcrumbs></breadcrumbs>
        </div>
    </header>

    <main class="mdl-layout__content">
        <div class="page-content"><!-- Your content goes here -->
            <div ui-view></div>
            <!--<dialog>-->
            <!--I'm a dialog!-->
            <!--<form method="dialog">-->
            <!--<input type="submit" value="Close" />-->
            <!--</form>-->
            <!--</dialog>-->
            <!--<script>-->
            <!--var dialog = document.querySelector('dialog');-->
            <!--dialogPolyfill.registerDialog(dialog);-->
            <!--// Now dialog acts like a native <dialog>.-->
            <!--dialog.showModal();-->
            <!--</script>-->
        </div>
    </main>
</div>

