<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<div class="app-container container">
    <!--header:-->
    <div class="header">
        <logo></logo>
        <searchbar></searchbar>
        <navbar></navbar>
    </div>

    <!--content:-->
    <div class="content" ui-view="content"></div>

    <!--stuff that belongs outside of content container:-->
    <div class="content-outside" ui-view="outside"></div>

    <!--footer:-->
    <appfooter></appfooter>
</div>