<div class="col-sm-3">
    <div class="recipe-overview">
        <div class="row">
            <div class="col-sm-6 col-md-12">
                <div class="thumbnail">
                    <img class="thumbpictureofrecipe" src="{{recipe.picture}}" alt="Foto von Gericht" width="260" height="260">
                    <div class="caption">
                        <h3>{{recipe.title}}</h3>
                        <hr size="10">
                    <span ng-if="recipe.vegan"><span class="glyphicon glyphicon-ok"
                                                     aria-hidden="true"></span> Vegan</span>
                        <span ng-if="!recipe.vegan"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Vegan</span><br>
                        <span ng-if="recipe.vegetarian"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Vegetarian</span>
                        <span ng-if="!recipe.vegetarian"><span class="glyphicon glyphicon-remove"
                                                               aria-hidden="true"></span> Vegetarian</span>
                        <hr size="10">
                        <ul class="unstyled">
                            <li ng-repeat="supermarket in recipe.availability">{{supermarket.title}}</li>
                        </ul>
                        <p><a href class="btn btn-success buttonrecipe" role="button">Show Recipe</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
