<div class="col-sm-3">
    <div class="recipe-overview">
        <div class="row">
            <div class="col-sm-6 col-md-12">
                <div class="thumbnail">
                    <img class="thumbpictureofrecipe" ng-src="{{recipe.picture}}" alt="Foto von Gericht" width="260"
                         height="260">
                    <div class="caption">
                        <h3><a ng-href="recipeDetail{{recipe}}">{{recipe.title}}</a></h3>

                        <hr ng-if="recipe.vegan || recipe.vegetarian">
                        <span ng-if="recipe.vegan"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Vegan</span>
                        <br ng-if="recipe.vegan && recipe.vegetarian">
                        <span ng-if="recipe.vegetarian"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Vegetarian</span>

                        <hr>
                        <img ng-repeat="supermarket in recipe.availability" src="{{supermarket.icon}}"
                             class="supermarketicon" alt="{{supermarket.title}}" width="40" height="40">
                        <hr>
                        <hr ng-if="recipe.missingIngredients">
                        Missing Ingerdients:<br>
                        <br ng-repeat="missedIngredient in recipe.missingIngredients">
                        <div>{{missedIngredient.title}}/div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
