<div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h1>Privacy</h1>
            <h3>Security</h3>
            We use reasonable security measures to store and maintain personally identifying information so as to protect it from loss, misuse, alteration or destruction by unauthorized parties while it is under our control. We use secure socket layer (“SSL”) encryption when transmitting certain kinds of information, such as payment information, over the Internet.
            We collect, process, and maintain your information in the United States, where privacy laws might not be as protective as in your home country. If you are using the Web site from outside of the United States, by providing your information to us you are consenting to the transfer of your information to the United States for processing and maintaining in a manner consistent with this Privacy Policy.
            <p></p>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>