<!--suppress HtmlUnknownTag -->
<form class="load-save-form" name="loadSaveForm">
    <div class="modal-body">
        <uib-tabset active="active">

            <!-- Load dialog -->
            <uib-tab index="0" heading="Load">
                <div class="alert alert-danger" role="alert" ng-show="errorText">
                    <strong>Error!</strong>
                    {{errorText}}
                </div>
                <ul>
                    <li ng-repeat="mealPlan in mealPlans">{{mealPlan.title}}</li>
                </ul>
                <div class="modal-footer">
                    <button class="button-cancel btn btn-default" type="button" ng-click="cancel()">Cancel</button>
                    <button class="button-load btn btn-default" type="submit" ng-disabled="loadSaveForm.$invalid">Load</button>
                </div>
            </uib-tab>

            <!-- Save dialog -->
            <uib-tab index="1" heading="Save">
                <div class="alert alert-danger" role="alert" ng-show="errorText">
                    <strong>Error!</strong>
                    {{errorText}}
                </div>
                <p>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                    ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                    dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor
                    sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                    invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et
                    justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
                    ipsum dolor sit amet.
                </p>
                <div class="modal-footer">
                    <button class="buton-cancel btn btn-default" type="button" ng-click="cancel()">Cancel</button>
                    <button class="button-save btn btn-default" type="submit" ng-disabled="loadSaveForm.$invalid">Save</button>
                </div>
            </uib-tab>

        </uib-tabset>
    </div>
</form>
