<div class="row">
    <nav class="navbar">
        <ul class="nav navbar-nav navbar-left">
            <li><a ui-sref="home">Home</a></li>
            <li><a ui-sref="searchRecipes">Recipe Search</a></li>
            <li><a ui-sref="searchIngredients">Ingredient Search</a></li>
            <li><a ui-sref="mealPlanner">Meal Planner</a></li>
        </ul>
        <ul class="nav navbar-nav pull-right">
            <!-- not logged in -->
            <li uib-dropdown ng-if="!loggedIn">
                <a href id="simple-dropdown" uib-dropdown-toggle>
                    You are currently not logged in.
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li ng-click="open('login')">
                        <a href>Login <i class="glyphicon glyphicon-log-in" aria-hidden="true"></i></a>
                    </li>
                    <li ng-click="open('register')">
                        <a href>Signup</a>
                    </li>
                </ul>
            </li>

            <!-- logged in -->
            <li uib-dropdown ng-if="loggedIn">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false">
                    Hello, {{user.firstName}}.
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a ui-sref="account">My Account <i class="glyphicon glyphicon-user" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href ng-click="logout()">Logout <i class="glyphicon glyphicon-log-out"
                                                              aria-hidden="true"></i></a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>