<!-- Section center -->
<style>
    section.section--center {
        position: relative;
        margin-top: 48px;
        max-width: 1024px;
    }

    section.section--center > header {
        background-color: #000000!important;;
        text-align: center;
        padding-top: 10px;
    }

</style>

<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <header class="section__play-btn mdl-cell mdl-cell--2-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--teal-100 mdl-color-text--white">
        <img ng-src="{{movie.posters.profile}}" height="180px">
    </header>
    <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
        <div class="mdl-card__supporting-text">
            <h4>{{movie.title}}</h4>
            <hr />
            year: {{movie.year}} | rating: {{movie.mpaa_rating}} | critics: {{movie.ratings.critics_score}}
            <hr />
            <h5>Storyline</h5>
            {{movie.synopsis}}


        </div>
    </div>
</section>