<div>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <h1>About us</h1>
            We have a large database filled up with handpicked recipes which were manually organised and sorted.
            <br>
            If you are looking for a recipe we show you exactly what you are looking for and not hundred times
            the same or barely the same recipe like you know it from other websites.<br>
            Or you just insert your ingredients you want to use and we show you which recipes you can cook out
            of them. And if some ingredients are missing, we also show you where you can get them.
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>