footer {
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: $color-secondary;
  color: $color-text-inverted;
  font-weight: bold;
  font-size: 15px;
  border-radius: 10px
}