
#site {
  //background-color: $color-tertiary-light;
  padding: 20px;
}

.headline {
  font-size: $font-size-large;
  margin-bottom: 0.5em;
  padding-top: 20px;
}

.buttonhome {
  background-color: $color-primary;
  font-size: $font-size-middle;
  color: white;
}

ul {
  font-size: smaller
}

.smaller-text {
  font-size: smaller
}

hr {
  height: 2px;
  background-color: lightgrey;
}

.imgbuttononhome {
  height: 10em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.profilepic {
  height: 150px;
}

.contentlandingpage {
  font-size: $font-size-normal;
  text-align: justify;
}

.frameoffunctiontexts {
  border-style: double;
  border-color: $color-primary;
  border-width: 2px;
  border-radius: 10px;
  font-size: $font-size-normal;
  padding: 0.5em;
  text-align: justify;
}

.chapterheadline {
  margin-top: 1px;
  margin-bottom: 0.5em;
}

.landingpagepic {
  width: auto;
  max-height: 250px;

  text-align: justify;
}