


.center  { text-align: center; }

#headline{
  font-size: 80px;
}


#site {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: $tertiary-color;
}

#button{
  background-color: $primary-color;
  font-size: xx-large;
}
#reason{
  font-size:x-large;
}

ul {font-size:smaller}
p {font-size:smaller}