#headline {
  font-size: $font-size-large;
}


#site {
  //background-color: $color-tertiary-light;
  padding: 15px;
}

.button {
  background-color: $color-primary;
  font-size: $font-size-middle;
  color: white;
}

ul {
  font-size: smaller
}

.smaller-text {
  font-size: smaller
}

hr {
  height: 1px;
  background-color: lightgrey;
}

.imgbuttononhome {
  height: 240px;
}

.profilepic {
  height: 150px;
}

#whoweare {
  font-size: $font-size-normal;
  border-style: double;
  border-color: $color-primary;
  border-width: 2px;
  border-radius: 10px;
}

.frameoftexts {
  border-style: double;
  border-color: $color-primary;
  border-width: 2px;
  border-radius: 10px;
  padding: 10px;
  font-size: $font-size-normal;
}

#howdoesitwork {
  border-style: dotted;
  border-color: $color-primary;
  border-width: 2px;
  border-radius: 10px;
  font-size: $font-size-normal;
}