.meal-label {
  border: none;
}

.meal-label-img {
  height: 5em;
  max-height: 100%;
  width: auto;

  border: none;
}

.meal-label > div {
  display: table-cell;
  vertical-align: middle;
}

.meal-label-caption {
  width: 100%;
  padding: 1em;

  background-color: $color-primary;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

  font-weight: bold;
  color: white;
}

.meal-label-add > .meal-label-caption {
  background-color: transparent;

  border: 3px dashed $color-tertiary;
  border-left: none;

  color: $color-tertiary;
}

.meal-label-add .meal-label-img {
  border: 3px dashed $color-tertiary;
}
