.recipe-recommendations-container {
  margin-bottom: 0;

  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none;
}

.recipe-recommendations-container > div:first-child {
  border-right: 1px solid #ddd;
}

.recipe-recommendations-container ul {
  padding: 0;
  margin: 0;
  font-size: initial;
  list-style: none;
}

/**
 * For the correct positioning of the placeholder element, the dnd-list and
 * it's children must have position: relative
 */
.meal-planner ul[dnd-list],
.meal-planner ul[dnd-list] > li {
  position: relative;
}

.meal-planner ul[dnd-list] > li[dnd-draggable] {
  cursor: move;
}

/**
 * The dndDraggingSource class will be applied to
 * the source element of a drag operation. It makes
 * sense to hide it to give the user the feeling
 * that he's actually moving it.
 */
.meal-planner ul[dnd-list] .dndDraggingSource {
  display: none;
}

/**
 * An element with .dndPlaceholder class will be
 * added to the dnd-list while the user is dragging
 * over it.
 */
.meal-planner ul[dnd-list] .dndPlaceholder {
  display: block;
  background-color: #ddd;
  min-height: 5em;
  border-radius: 0 10px 10px 0;
}
