.meal-label {
  height: 5em;

  background-color: $color-primary;
  border: none;
}

.meal-label > img {
    display: block;
    height: 100%;
    max-height: 100%;
    width: auto;

  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
