#thumbrecipeshown {
  border: 2px solid white;
  background-color: #f0f0f0;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  margin-left:3px;
  margin-right:3px;
}
#thumbpictureofrecipe {
  width: 250px;
  height: 250px;
  margin-left:auto;
  margin-right:auto;

}