html {
  overflow-y: scroll;
}

html, body, body > div, #app-container {
  height: 100%;
}

#app-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column;
  flex-flow: column;
}

#content-container {
  -webkit-flex: 1;
  flex: 1;
}