.searchbarsupermarket {
  -webkit-filter: grayscale(60%);
  &:hover {
    -webkit-filter: grayscale(0%);
  }
  width: 40px;
  height: 40px;
}
.searchbar {
  margin-top: 40px;

}
.input-group {
  border-style: solid;
  border-color: #60B99B;
  border-radius: 5px;
}
#searchfilters {
  font-size: 15px;
  font-weight: bold;
  color: white;
  margin-top: 5px;
  background-color: #60B99B;
  border-style: solid;
  border-color: #60B99B;
  border-radius: 5px;
}