.searchbarsupermarket {
  width: 40px;
  height: 40px;
  margin: 0.1em;
}

.picture-grayscale {
  -webkit-filter: grayscale(60%);
  &:hover {
    -webkit-filter: grayscale(0%);
  }
}

.searchbar-recipes {
  margin-top: 4.67em;   // corresponds to hardcoded logo size
}

.searchbar-ingredients {
  margin-top: 1em; // corresponds to hardcoded logo size
}

.input-group {
  border-style: solid;
  border-color: $color-primary;
  border-radius: 5px;
}

.searchfilters {
  font-size: 1em;
  font-weight: bold;
  color: white;
  margin-top: 0.8em;
  padding-left: 0.6em;
  padding-top: 0.6em;
  border-style: solid;
  border-radius: 5px;
}

.style-recipes {
  background-color: $color-primary;
  border-color: $color-primary;
}

.style-ingredients {
  background-color: $color-tertiary;
  border-color: $color-tertiary;
}