<div id="site">

    <div id="headline" class="text-center">Welcome to foodgenerator.de</div>
    <div id="subhead" class="text-center"><i>get ready to <s>board</s> cook!</i> <span
            class="glyphicon glyphicon-cutlery" aria-hidden="true"></span></div>
    <br>
    <div class="row">
        <div class="col-md-4 col-md-offset-1 reason">
            <button class="btn btn-default btn-lg btn-block button" ui-sref="search.recipes"><span
                    class="glyphicon glyphicon-search" aria-hidden="true"></span> Recipe Search
            </button>
            <br>
            <img class="imgbuttononhome"
                 src="http://st.hzcdn.com/simgs/f2d1402b01edda01_4-9024/bauhaus-look-kochutensilien.jpg"
                 alt="Recipe Search"><br>
            <div class="frameoftexts">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                Use our new designed Recipe Search for the best experience!
                <ul>
                    <li>Less is more! Get what you want and nothing else.</li>
                    <li>Clean looking result overview.</li>
                    <li>Enhanced filter options.</li>
                </ul>
            </div>
        </div>
        <div class="col-md-2"><h1 class="text-center">OR</h1></div>
        <div class="col-md-4 reason">
            <button class="btn btn-default btn-lg btn-block button" ui-sref="search.ingredients"><span
                    class="glyphicon glyphicon-screenshot" aria-hidden="true"></span> Ingredient Search
            </button>
            <br>
            <img class="imgbuttononhome"
                 src="https://www.zugutfuerdietonne.de/fileadmin/Lebensmittellexikon/Lebensmittel-monticellllo-1.jpg"
                 alt="IngredientSearch"><br>
            <div class="frameoftexts">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                You do not know what to cook out of your ingredients in your fridge? Use our brand new Ingredient
                Search!
                <p class="smaller-text">Insert your ingredients and we suggest recipes you can cook with them or with
                    the help of some other.</p></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2"><br></div>
    </div>

    <div class="row"><p>
        <div class="col-md-4 col-md-offset-1">
            <h3>Or just try our new Meal Planer</h3>
            ... and schedule your week!
        </div>
        <div class="col-md-4 ">
            <button class="btn btn-default btn-lg btn-block button" ui-sref="mealPlanner"><span
                    class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Meal Planer
            </button>
            <br>
            <img class="imgbuttononhome"
                 src="http://d2dog1d9ysauaf.cloudfront.net/attachments/59478b278541a4141461147c6e21f2160cb28d9f/store/a1b637712bb235a9c53a3cfe975b8926a81500666aeeeed1a1cc41f1f80d/large-monthly-planner.png"
                 alt="IngredientSearch"><br>
        </div>
    </div>


    <hr>
    <h1 class="text-center">Who we are:</h1>
    <div class="row"><p></p>
        <div class="col-sm-6">
            <div class="col-md-6">
                <img class="profilepic"
                     src="http://www.gss-forchtenberg.de/wp-content/uploads/2014/05/Profilbild-anonym.jpg"
                     alt="ProfilPic">
                <div>Christoph Dehner<br>
                    Msc. Informatics<br>
                    22 Years old
                </div>
            </div>
            <div class="col-md-6">
                <img class="profilepic"
                     src="http://www.gss-forchtenberg.de/wp-content/uploads/2014/05/Profilbild-anonym.jpg"
                     alt="ProfilPic">
                <div>Simon Bönisch<br>
                    Msc. Informatics<br>
                    25 Years old
                </div>
            </div>
            <div class="col-md-6">
                <img class="profilepic"
                     src="http://www.gss-forchtenberg.de/wp-content/uploads/2014/05/Profilbild-anonym.jpg"
                     alt="ProfilPic">
                <div>Robert Häcker<br>
                    Msc. Informatics<br>
                    22 Years old
                </div>
            </div>
            <div class="col-md-6">
                <img class="profilepic"
                     src="http://www.gss-forchtenberg.de/wp-content/uploads/2014/05/Profilbild-anonym.jpg"
                     alt="ProfilPic">
            </div>
            <div>Stefan Bock<br>
                Msc. Information Systems<br>
                27 Years old
            </div>
        </div>
        <div id="whoweare" class="col-sm-6">
            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
            Hello there!<br> We are Christoph, Simon, Stefan and Robert. We are four entrepreneurs, developers and
            students from the TU München (TUM) - Germany. <br>
            Our intuition is ...<p>
            <center><i>...to help people who want to cook with minimal effort to reduce their preparation time with
                quality assured and supermarket specific recipes. </i><br>
                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
            </center>
            We hope you will enjoy our platform.<br>
            Bests<br>
            Foodgenerator Team
        </div>
    </div>
    <hr>
    <h1 class="text-center">How does it work:</h1>
    <div class="row"><p></p>
        <div id="howdoesitwork" class="col-sm-6">
            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
            We have a large database filled up with handpicked recipes which were manually organised and sorted. <br>
            If you are looking for a recipe we show you exactly what you are looking for and not hundred times the same
            or barely the same recipe like you know it from other websites.<br>
            Or you just insert your ingredients you want to use and we show you which recipes you can cook out of them.
            And if some ingredients are missing, we also show you where you can get them.<p>
        </div>

        <div class="col-sm-6">
            <center><p></p>
                <iframe src="https://player.vimeo.com/video/155394088" width="500" height="281" frameborder="0"
                        webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </center>
        </div>
    </div>


    <p></p>
</div>




