

<div id="site">
    <div id="headline" class = "center">Welcome to foodgenerator.de</div>
    <br>
    <div class="row">
        <div class="col-md-4 col-md-offset-1"><button class="btn btn-default btn-lg btn-block" style="font-size:xx-large">Recipe Search</button></div>
        <div class="col-md-2"><h1 class = "center">OR</h1></div>
        <div class="col-md-4"><button class="btn btn-default btn-lg btn-block" style="font-size:xx-large">Ingredient Search</button></div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-1"  style="font-size:x-large">This is a really good reason why you should try out or new and super awesome Recipe Search! Because it can:
            <ul>
                <li>reason 1</li>
                <li>reason 1</li>
                <li>reason 1</li>
                <li>reason 1</li>
            </ul>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-4"  style="font-size:x-large">This is a really good reason why you should try out or new and super awesome Ingredient Search! Because it can:
            <ul>
                <li>reason 1</li>
                <li>reason 1</li>
                <li>reason 1</li>
                <li>reason 1</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"><br></div>
    </div>

    <div class="row">
        <div class="col-md-4 col-md-offset-1"><h3>Or try our super handy Meal Planer</h3></div>
        <div class="col-md-4 col-md-offset-1"><button class="btn btn-default btn-lg btn-block" style="font-size:xx-large">Meal Planer</button></div>
    </div>


    <hr>

    <h1 class="center">Who we are:</h1>
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum


    <hr>
    <h1 class="center">How does it Works:</h1>
    Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc,

    <br>

</div>









    <!--
        <div id="top">
            <div id="button-left">

                <button class="btn btn-default btn-lg btn-block" ><h1>Recipe Search</h1></button>

            </div>

            <div id="button-right">
                <button class="btn btn-default btn-lg btn-block" ><h1>Ingredient Search</h1></button>
                <br>

            </div>
            <div id="top-mid">
                or
            </div>

            <div id="box-down">

                <div id="button-down">
                    <button class="btn btn-default btn-lg btn-block" ><h1>Meal Planer</h1></button>
                </div>
                <h1>or try our</h1>
            </div>

        </div>
        <div class="separator">
            <span>Who we are</span>
        </div>
        <div id="mid">
            <p>
                This is the content of the landing page.<br/>
                This is an example of a variable: {{exampleField}}
            </p>
        </div>
        <div class="separator">
            <span>How it works</span>
        </div>
        <div id="bot">
            <p>
                This is the content of the landing page.<br/>
                This is an example of a variable: {{exampleField}}
            </p>

        </div>
        -->

