<div class="site">
    <div class="headline text-center">
        Welcome to foodgenerator.de
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-1">
            <button class="btn btn-default btn-lg btn-block buttonhome" ui-sref="search.recipes">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                Recipe Search
            </button>
            <br>
            <img class="landingpagepic center-block"
                 ng-src="img/landingpage/tool.jpg"
                 alt="Recipe Search"><br>
            <div class="frameoffunctiontexts">
                Use our new designed Recipe Search for the best experience!
                <ul>
                    <li>Less is more! Get what you want and nothing else.</li>
                    <li>Clean looking result overview.</li>
                    <li>Enhanced filter options.</li>
                </ul>
            </div>
        </div>

        <div class="col-md-2">
            <h1 class="text-center">OR</h1>
        </div>

        <div class="col-md-4">
            <button class="btn btn-default btn-lg btn-block buttonhome" ui-sref="search.ingredients">
                <span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span>
                Ingredient Search
            </button>
            <br>
            <img class="landingpagepic center-block"
                 ng-src="img/landingpage/food.jpg"
                 alt="IngredientSearch"><br>
            <div class="frameoffunctiontexts">
                You do not know what to cook out of your ingredients in your fridge? Use our brand new Ingredient
                Search!
                <p class="smaller-text">
                    Insert your ingredients and we suggest recipes you can cook with them or with the help of some
                    other.
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2"><br></div>
    </div>

    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h3>
                Or just try our new Meal Planer <br>
                ... and schedule your week!
            </h3>
            <button class="btn btn-default btn-lg btn-block buttonhome" ui-sref="mealPlanner"><span
                    class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Meal Planer
            </button>
            <img class="landingpagepic center-block"
                 ng-src="img/landingpage/planer.png"
                 alt="IngredientSearch"><br>
        </div>
    </div>
            <hr>
            <h1 class="text-center chapterheadline">Who we are:</h1>
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6" id="whoweare">
                    Hello there!<br> We are Christoph, Simon, Stefan and Robert. We are four entrepreneurs, developers
                    and students from the TU Munich (TUM) - Germany. <br>
                    Our intuition is ...
                    <p class="text-center">
                        <i>...to help people who want to cook with minimal effort to reduce their preparation time with
                            quality assured and supermarket specific recipes. </i><br>
                    </p>
                    We hope you will enjoy our platform.<br>
                    Bests<br>
                    Foodgenerator Team
                </div>
                <div class="col-sm-3"></div>
            </div>
            <hr>
            <h1 class="text-center chapterheadline">How does it work:</h1>
            <div class="row">
                <div class="col-sm-6" id="howdoesitwork">
                    We have a large database filled up with handpicked recipes which were manually organised and sorted.
                    <br>
                    If you are looking for a recipe we show you exactly what you are looking for and not hundred times
                    the same or barely the same recipe like you know it from other websites.<br>
                    Or you just insert your ingredients you want to use and we show you which recipes you can cook out
                    of them. And if some ingredients are missing, we also show you where you can get them.
                </div>

                <div class="col-sm-6 text-center">
                    <p>
                        <iframe src="https://player.vimeo.com/video/155394088" width="500" height="281" frameborder="0"
                                allowfullscreen></iframe>
                    </p>
                </div>
            </div>


            <p></p>




</div>
