<div class="col-sm-12">
    <div class="recipedetail-overview">
        <div class="row">
            <div class="col-md-12">
                <img class="headerpicture" ng-src="{{recipe.picture}}"
                     alt="Titel Foto von Gericht">
                <span class="header">{{recipe.title}}</span>
            </div>
        </div>
        <div class="row functionbar">
            <div class="col-md-3">
                <button type="button" class="btn btn-primary btn-xs buttonrecipedetail">ADD TO MEAL PLANNER</button>
            </div>
            <div class="col-md-3">
                <button type="button" class="btn btn-primary btn-xs buttonrecipedetail">ADD TO SHOPPING LIST</button>
            </div>
            <div class="col-md-1">
                <button type="button" class="btn btn-primary btn-xs buttonrecipedetail"><span class="glyphicon glyphicon-print"
                                                                           aria-hidden="true"></span></button>
            </div>
            <div class="col-md-2">
                <br ng-if="recipe.vegan || recipe.vegetarian">
                <span ng-if="recipe.vegan"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Vegan</span>
                <br ng-if="recipe.vegan && recipe.vegetarian">
                <span ng-if="recipe.vegetarian"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Vegetarian</span>

            </div>
            <div class="col-md-3">
                <img ng-repeat="supermarket in recipe.availability" src="{{supermarket.icon}}" class="supermarketicon"
                     alt="{{supermarket.title}}" width="40" height="40">
            </div>
        </div>
        <div class="row descriptionrow">
            <div class="col-md-8">
                <b>Preperation</b><br>
                {{recipe.description}}
            </div>
            <div class="col-md-4">

                <div class="dropdown">Ingredients for
                    <button class="btn btn-default dropdown-toggle anzperson" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        #
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">6</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                    persons:
                </div>

                cook properties: {{recipe.effort}}<br>
                ingredients: {{recipe.ingredientList}}
            </div>
        </div>
        <div class="row variationsbar">
            <div class="col-md-12"><b>Variations</b><br>
                <recipethumbnail recipevariations="recipe"
                                 ng-repeat="recipevariations in variationsList"></recipethumbnail>
            </div>
        </div>
    </div>
</div>