<div class="meal-list thumbnail" ng-if="mealList">
    <div class="container-fluid meal-list-container">
        <div class="row">
            <h3 class="text-center">{{mealList.title}}</h3>
        </div>
        <div class="row">
            <hr>
        </div>
        <!--suppress HtmlUnknownAttribute -->
        <ul class="row"
            dnd-list="mealList.meals"
            dnd-inserted="updateMealOrder()">
            <!--suppress HtmlUnknownAttribute -->
            <li class="row" ng-repeat="meal in mealList.meals"
                dnd-draggable="meal"
                dnd-effect-allowed="move"
                dnd-moved="mealList.meals.splice($index, 1); updateMealOrder();">
                <meallabel recipe="meal.recipe"></meallabel>
            </li>
            <li class="row" ng-if="!mealList.meals.length">
                <meallabel></meallabel>
            </li>
            <li class="row dndPlaceholder"></li>
        </ul>
    </div>
</div>

<div class="meal-list thumbnail" ng-if="!mealList">
    <p>Error: No meal list given.</p>
</div>
