<div class="container-fluid shopping-list">
    <h1>My Shopping List</h1>
    <div class="headline-container row">
        <div class="col-sm-4">
            <p><strong>your current shopping list:</strong>
                <strong ng-if="mealPlan.title">{{mealPlan.title}}</strong>
            </p>
        </div>
        <div class="col-sm-8 hidden-print">
            <div class="pull-right">
                <span class="login-hint" ng-show="!loggedIn">Login for access to save/load functionality.</span>
                <a class="button-reset btn btn-default" ng-click="resetShoppingList()">Reset shopping list</a>
                <a class="button-print btn btn-default" ng-click="printShoppingList()" ng-show="loggedIn">Print</a>
            </div>
        </div>
    </div>
    <div class="shopping-list-container row" ng-if="shoppingListRecipes.length">
        <div class="col-xs-12" ng-repeat="recipe in shoppingListRecipes">
            {{recipe.title}}: {{recipe.persons}}
        </div>
    </div>
    <div class="shopping-list-container row" ng-if="!shoppingListRecipes.length">
        <div class="col-xs-12">
            You did not yet add any recipes to your shopping list.
        </div>
    </div>
</div>