<div class="searchbar-{{bartype}}">
    <div ng-if="bartype">
        <div class="input-group style-{{bartype}}">
            <input ng-show="bartype == 'recipes'" type="text" class="form-control"
                   placeholder="Search for {{bartype}}..."
                   ng-model="searchBarInput">

            <tags-input ng-show="bartype == 'ingredients'" ng-model="tags" placeholder="Add an ingredient">
                <auto-complete source="loadIngredient($query)"></auto-complete>
            </tags-input>
        <span class="input-group-btn">
            <button class="btn btn-default" data-toggle="collapse" data-target=".searchfilters-{{bartype}}"
                    ng-click="updateGlyphicon()">
            <span class="glyphicon glyphicon-chevron-{{expanded}}" aria-hidden="true"></span>
            </button>
            <button ng-if="bartype == 'recipes'" class="btn btn-default" type="button"
                    ng-click="setTermAndPerformRecipeSearch()">Search</button>
            <button ng-if="bartype == 'ingredients'" class="btn btn-default" type="button"
                    ng-click="setTermAndPerformIngredientSearch()">Search Ingredients</button>

        </span>
        </div>

        <div class="searchfilters searchfilters-{{bartype}} style-{{bartype}} collapse">
            <div class="row">
                <div class="col-md-4"> Nutrition:
                    <div class="checkbox">
                        <label><input type="checkbox" ng-model="vegetarian">Vegetarian</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" ng-model="vegan">Vegan</label>
                    </div>
                </div>
                <div class="col-md-4"> Effort:
                    <div class="checkbox">
                        <label><input type="checkbox" ng-model="effortLow">Low</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" ng-model="effortMedium">Medium</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" ng-model="effortHigh">High</label>
                    </div>
                </div>
                <div class="col-md-4"> Availiability: <p>
                    <img ng-class="checkImgClass(supermarket._id)" ng-repeat="supermarket in supermarkets"
                         src="{{supermarket.icon}}" name="{{supermarket._id}}"
                         ng-click="clickSupermarket(supermarket._id)" alt="{{supermarket.title}}" width="40"
                         height="40">
                </div>
            </div>
        </div>

        <!--<div ng-if="bartype == 'ingredients'">
                <div class="alert alert-danger" role="alert">Ingredient search not yet implemented</div>
            </div>
-->
        <div ng-if="!bartype">
            <div class="alert alert-danger" role="alert">
                <strong>Implementation error!</strong>
                Need to specify "bartype" attribute on searchbar html element!
            </div>
        </div>
    </div>
</div>