<div class="container-fluid">
    <h1>Meal planner</h1>
    <p><strong>your current plan:</strong></p>

    <div class="meal-planner-container row">
        <div class="col-md-4">
            <meallist meal-list="mealList"></meallist>
        </div>
        <div class="col-md-4">
            <meallist meal-list="mealList"></meallist>
        </div>
        <div class="col-md-4">
            <meallist meal-list="mealList"></meallist>
        </div>
    </div>

    <br/>   <!-- remove break and use padding instead -->

    <div class="recipe-recommendations-container row">
        <div class="marked-recipes-container col-md-6">
            <p><strong>your marked recipes:</strong></p>
            <div>meal label goes here</div>
            <div>meal label goes here</div>
            <div>meal label goes here</div>
        </div>
        <div class="recent-recipes-container col-md-6">
            <p><strong>your recent views:</strong></p>
            <div>meal label goes here</div>
            <div>meal label goes here</div>
            <div>meal label goes here</div>
        </div>
    </div>
</div>