<div class="container-fluid">
    <h1>Meal planner</h1>
    <p><strong>your current plan:</strong></p>

    <div class="meal-planner-container row">
        <div class="col-md-4" ng-repeat="mealList in mealPlan.mealList">
            <meallist meal-list="mealList"></meallist>
        </div>
        <div class="col-md-4">
            <div class="thumbnail thumbnail-add-new-meal">
                <!-- TODO implement "new meal list" functionality -->
                <img ng-src="img/meal-planner/icon-plus.png"/>
                <p class="text-center">"Click to add new item"</p>
            </div>
        </div>
    </div>

    <div class="recipe-recommendations-header row">
        <div class="col-md-6">
            <p><strong>your marked recipes:</strong></p>
        </div>
        <div class="col-md-6">
            <p><strong>your recent views:</strong></p>
        </div>
    </div>
    <div class="recipe-recommendations-container row thumbnail">
        <div class="col-md-6">
            <div class="marked-recipes-container">
                <meallabel ng-repeat="recipe in markedRecipes" recipe="recipe"></meallabel>
            </div>
        </div>
        <div class="col-md-6">
            <div class="recent-recipes-container">
                <meallabel ng-repeat="recipe in recentRecipes" recipe="recipe"></meallabel>
            </div>
        </div>
    </div>
</div>